element {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    color: aliceblue;
}
div.quickbox {
    background: #27272e;
    border: 1px solid #303038;
    border-radius: 10px;
}
div.quickboxbody {
    padding-left: 10px;
    padding-right: 10px;
}
div.quickboxhead {
    border-bottom: 1px solid #303038;
    background: #1b1b1f;
    text-align: center;
}
.quickboxhead p {
    margin-top: 0%;
    margin-bottom: 4px;
}


p {
    color: aliceblue;
    margin-top: 0%;
    margin-bottom: 4px;
}

div.wrapper {
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 0.5em;
}
